menu "[CUSTOM] BMS Configuration"

config I2C_ADDR
    hex "I2C Device Address"
    default 0x0B
    help
      Set the hexadecimal address of the I2C device.

config RELATIVE_STATE_OF_CHARGE_ADDR
    hex "BMS relative SOC Address"
    default 0x0D
    help
      Set the SBS address for the BMS to read the battery realtive state of charge.

endmenu
