menu "[CUSTOM] BMS Configuration"
config SCAN_I2C
    bool "Scan I2C devices"
    default n
    help
      Set to true to scan addresses for connected I2C devices.
config I2C_ADDR
    hex "I2C Device Address"
    default 0x0B
    help
      Set the hexadecimal address of the I2C device.
config MASTER_SDA_PIN
    int "I2C Serial Data (SDA) GPIO"
    default 22
    help
      Set the GPIO number for the I2C SDA line.
config MASTER_SCL_PIN
    int "I2C Serial Clock (SCL) GPIO"
    default 21
    help
      Set the GPIO number for the I2C SCL line.
config FREQ_HZ
    int "I2C Clock Frequency (Hz)"
    default 50000
    help
      Set the clock frequency for the I2C device.
config DELAY
    int "I2C delay (ms)"
    default 500
    help
      Set the time delay betwen successive I2C commands.
config RELATIVE_STATE_OF_CHARGE_ADDR
    hex "BMS relative SOC Address"
    default 0x0D
    help
      Set the SBS address for the BMS to read the battery realtive state of charge.
config RESET_CMD
    hex "BMS RESET command code"
    default 0x0041
    help
      Set the RESET command code for the BMS.
endmenu


menu "[CUSTOM] Wi-Fi Configuration"
config WIFI_SSID
    string "Router SSID"
    default "SSID"
    help
      The SSID of the internet conenction router.
config WIFI_PASSWORD
    string "Router password"
    default "PASSWORD"
    help
      The password of the internet conenction router.
config WIFI_AUTO_CONNECT
    bool "Auto-connect"
    default n
    help
      Set to true to automatically connect to router with the set SSID.
endmenu

menu "[CUSTOM] LoRa Configuration"
config IS_RECEIVER
    bool "Receiver"
    default n
    help
      Set to true to configure the ESP32 as receiver rather than transmitter (default).
endmenu
