__pycache__
.vscode
**/build/**
**/sdkconfig.old
.idea
cmake-build-debug
.DS_Store
ESP32/managed_components/**
ESP32/dependencies.lock

test/
batteries/

frontend/node_modules/
frontend/dist/

simulation/data/

**.venv
