menu "[CUSTOM] Log-in Configuration"

config USERNAME
    string "Username"
    default "admin"
    help
      Username to access Wi-Fi AP.

config PASSWORD
    string "Password"
    default "BaTT3ryP0rta!"
    help
      Password to access Wi-Fi AP.

config AUTH_TOKEN_LENGTH
    int "Authentication token length"
    default 12
    help
      WebSocket client authentication token length.

endmenu

menu "[CUSTOM] Developer options"

config VERBOSE
    bool "Verbose mode"
    default n
    help
      Set to true to enable verbose mode.

config DEV
    bool "Developer mode"
    default n
    help
      Set to true to enable ESP32 developer mode.

config AZURE_URL
    string "URL of Azure Web App"
    default "batteryportal-{identifier}.{location}-01.azurewebsites.net"
    help
      URL of Azure Web App running Flask app online.

config LOCAL
    bool "Local network mode"
    default n
    help
      Set to true to connect to Flask app running in local network.
      Requires configuration of "Local Flask IP".

config FLASK_IP
    string "Local Flask IP"
    default "192.168.137.1"
    help
      IP address of machine running Flask app in local network.

endmenu


menu "[CUSTOM] I2C Configuration"

config SCAN_I2C
    bool "Scan I2C devices"
    default n
    help
      Set to true to scan addresses for connected I2C devices.

config I2C_ADDR
    hex "I2C Device Address"
    default 0x55
    help
      Set the hexadecimal address of the I2C device.

config I2C_MASTER_SDA_PIN
    int "I2C Serial Data (SDA) GPIO"
    default 22
    help
      Set the GPIO number for the I2C SDA line.

config I2C_MASTER_SCL_PIN
    int "I2C Serial Clock (SCL) GPIO"
    default 21
    help
      Set the GPIO number for the I2C SCL line.

config I2C_FREQ_HZ
    int "I2C Clock Frequency (Hz)"
    default 50000
    help
      Set the clock frequency for the I2C device.

config I2C_DELAY
    int "I2C delay (ms)"
    default 300
    help
      Set the time delay betwen successive I2C commands.

config I2C_CONTROL_REG
    hex "BMS 'Control()' command code"
    default 0x00
    help
      Set the Control() command code (initial byte) for the BMS.

config I2C_CONTROL_RESET_SUBCMD
    hex "BMS RESET command code"
    default 0x0041
    help
      Set the RESET command code for the BMS.

config I2C_CONTROL_UNSEAL_SUBCMD_1
    hex "BMS UNSEAL command code (first half)"
    default 0x3672
    help
      Set the first half of the UNSEAL command code for the BMS.

config I2C_CONTROL_UNSEAL_SUBCMD_2
    hex "BMS UNSEAL command code (second half)"
    default 0x0414
    help
      Set the second half of the UNSEAL command code for the BMS.

config STATE_OF_CHARGE_REG
    hex "BMS SOC Address"
    default 0x2C
    help
      Set the register address for the BMS to read the battery state of charge.

config STATE_OF_HEALTH_REG
    hex "BMS SOH Address"
    default 0x2E
    help
      Set the register address for the BMS to read the battery state of health.

config VOLTAGE_REG
    hex "BMS Voltage Address"
    default 0x08
    help
      Set the register address for the BMS to read the battery voltage.

config CURRENT_REG
    hex "BMS Current Address"
    default 0x14
    help
      Set the register address for the BMS to read the battery average current.

config TEMPERATURE_REG
    hex "BMS Temperature Address"
    default 0x06
    help
      Set the register address for the BMS to read the battery temperature.

config INT_TEMPERATURE_REG
    hex "BMS Internal Temperature Address"
    default 0x28
    help
      Set the register address for the BMS to read the battery internal temperature.

endmenu


menu "[CUSTOM] Router Configuration"

config ROUTER_SSID
    string "Wi-Fi router SSID"
    default "SSID"
    help
      SSID of the router to connect to.

config ROUTER_PASSWORD
    string "Wi-Fi router password"
    default "PASSWORD"
    help
      Password of the router to connect to.

config EDUROAM
    bool "Use Eduroam"
    default n
    help
      Set to true to connect to Eduroam.

config EDUROAM_USERNAME
    string "Eduroam username"
    default "USERNAME"
    help
      University account username (without @liverpool.ac.uk).

config EDUROAM_PASSWORD
    string "Eduroam password"
    default "PASSWORD"
    help
      University account password.

endmenu
