<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> TEST </title>
    </head>

    <body>
        <div>
            <h2>Battery Information</h2>
            <div>
                <p>Q: <span id="Q"></span> %</p>
                <p>H: <span id="H"></span> %</p>
                <p><span id="status"></span></p>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                async function fetch_api(endpoint)  {
                    const url = "https://" + location.host + endpoint;
                    try {
                        const response = await fetch(url);
                        if (!response.ok) {
                            throw new Error(`Response status: ${response.status}`);
                        }

                        const result = await response.json();
                        return result;
                    } catch (error) {
                        console.error(error.message);
                    }
                }

                function get_sub_info(info, esp_id) {
                    /*
                      to loop through the json returned at /api/db/info,
                      returning the correct object according to esp_id
                    */
                    for (const esp of info) {
                        if (esp.esp_id === esp_id) {
                            return esp;
                        }
                        if (esp.nodes && esp.nodes.length > 0) {
                            const found = get_sub_info(esp.nodes, esp_id);
                            if (found) return found;
                        }
                    }
                    return null;
                }

                async function set_status()  {
                    /*
                      change the displayed status using database info
                    */
                    const result = await fetch_api("/api/db/info")
                    if (!result) return;

                    const esp = get_sub_info(result, "{{ esp_id }}");
                    if (esp) {
                        document.getElementById("status").innerHTML = esp.live_websocket ? "online" : "offline";
                        document.getElementById("status").style.color = esp.live_websocket ? "green" : "red";
                    } else {
                        console.warn("esp_id not found:", "{{ esp_id }}");
                    }
                }

                // initial data from database fetch through api
                (async () =>  {
                    const result = await fetch_api("/api/db/data?esp_id={{ esp_id }}")
                    document.getElementById("Q").innerHTML = result.Q;
                    document.getElementById("H").innerHTML = result.H;
                    await set_status();
                })();

                // updated data through websocket
                let socket = new WebSocket("wss://" + location.host + "/browser_ws?esp_id={{ esp_id }}");
                socket.onopen = function() {
                    console.log("WebSocket connection established");
                };
                socket.onmessage = function(event) {
                    try {
                        let data = JSON.parse(event.data);
                        if ("{{ esp_id }}" == data.esp_id) {
                            if (data.type !== "status_update") {
                                document.getElementById("Q").innerHTML = data.content.Q;
                                document.getElementById("H").innerHTML = data.content.H;
                            }
                            set_status();
                        }
                    } catch (error) {
                        console.error("Error parsing JSON:", error);
                    }
                };
                socket.onerror = function(error) {
                    console.error("WebSocket error:", error);
                };
                socket.onclose = function() {
                    console.log("WebSocket connection closed");
                };
            })
        </script>
    </body>
</html>
