{% extends 'admin/base.html' %}

{% block title %}Battery{% endblock %}


{% block content %}
 <div class="">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Battery</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Battery</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">Battery real time data - last update (<span id="last_update"></span>)</h3>

                </div>
              </div>
              <div class="card-body">
                <div class="d-flex">


                </div>
                <!-- /.d-flex -->

                <div class="position-relative mb-4">
                  <canvas id="battery-chart" height="200"></canvas>
                </div>

              </div>
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
{% endblock %}
{% block script %}
    <script src="{{url_for('static',filename='js/Chart.min.js')}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        $(function () {
            'use strict'

            var socket = io.connect('http://127.0.0.1:5000/websocket');
            socket.on('server_response', function(msg) {
                console.log("Received from server: " + msg.data);
                $('#last_update').text(msg.data);
            });

            socket.on('connect', function() {
                console.log("Connected to WebSocket namespace /websocket");
            });

            socket.on('disconnect', function() {
                console.log("Disconnected from WebSocket");
            });

            var ticksStyle = {
                fontColor: '#495057',
                fontStyle: 'bold'
              }
            var mode = 'index'
            var intersect = true
            var $visitorsChart = $('#battery-chart');
            var labels = ['18th', '20th', '22nd', '24th', '26th', '28th', '30th'];
            var data = [100, 120, 170, 167, 180, 177, 160];
            var visitorsChart = new Chart($visitorsChart, {
                data: {
                  labels: labels,
                  datasets: [{
                    type: 'line',
                    data: data,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    pointBorderColor: '#007bff',
                    pointBackgroundColor: '#007bff',
                    fill: false
                    // pointHoverBackgroundColor: '#007bff',
                    // pointHoverBorderColor    : '#007bff'
                  }]
                },
                options: {
                  maintainAspectRatio: false,
                  tooltips: {
                    mode: mode,
                    intersect: intersect
                  },
                  hover: {
                    mode: mode,
                    intersect: intersect
                  },
                  legend: {
                    display: false
                  },
                  scales: {
                    yAxes: [{
                      // display: false,
                      gridLines: {
                        display: true,
                        lineWidth: '4px',
                        color: 'rgba(0, 0, 0, .2)',
                        zeroLineColor: 'transparent'
                      },
                      ticks: $.extend({
                        beginAtZero: true,
                        suggestedMax: 200
                      }, ticksStyle)
                    }],
                    xAxes: [{
                      display: true,
                      gridLines: {
                        display: false
                      },
                      ticks: ticksStyle
                    }]
                  }
                }
              })
        })
    </script>
{% endblock %}