menu "[CUSTOM] Log-in Configuration"
config USERNAME
    string "Username"
    default "admin"
    help
      Username to access Wi-Fi AP.
config PASSWORD
    string "Password"
    default "BaTT3ryP0rta!"
    help
      Password to access Wi-Fi AP.
config AUTH_TOKEN_LENGTH
    int "Authentication token length"
    default 32
    help
      WebSocket client authentication token length.
endmenu

menu "[CUSTOM] Developer options"
config VERBOSE
    bool "Verbose mode"
    default n
    help
      Set to true to enable verbose mode.menu "[CUSTOM] BMS Configuration"
config DEV
    bool "Developer mode"
    default n
    help
      Set to true to enable ESP32 developer mode.
endmenu

menu "[CUSTOM] BMS Configuration"
config SCAN_I2C
    bool "Scan I2C devices"
    default n
    help
      Set to true to scan addresses for connected I2C devices.
config I2C_ADDR
    hex "I2C Device Address"
    default 0x0B
    help
      Set the hexadecimal address of the I2C device.
config MASTER_SDA_PIN
    int "I2C Serial Data (SDA) GPIO"
    default 22
    help
      Set the GPIO number for the I2C SDA line.
config MASTER_SCL_PIN
    int "I2C Serial Clock (SCL) GPIO"
    default 21
    help
      Set the GPIO number for the I2C SCL line.
config FREQ_HZ
    int "I2C Clock Frequency (Hz)"
    default 50000
    help
      Set the clock frequency for the I2C device.
config DELAY
    int "I2C delay (ms)"
    default 500
    help
      Set the time delay betwen successive I2C commands.
config MANUFACTURER_ACCESS
    hex "BMS 'ManufacturerAccess()' command code"
    default 0x00
    help
      Set the ManufacturerAccess() command code for the BMS.
config MANUFACTURER_BLOCK_ACCESS
    hex "BMS 'ManufacturerBlockAccess()' command code"
    default 0x44
    help
      Set the ManufacturerBlockAccess() command code for the BMS.
config RELATIVE_STATE_OF_CHARGE_ADDR
    hex "BMS relative SOC Address"
    default 0x0D
    help
      Set the SBS address for the BMS to read the battery realtive state of charge.
config DEVICE_NAME_ADDR
    hex "BMS Device Name Address"
    default 0x4085
    help
      Set the Data Flash address to read the BMS device name.
config OPERATION_STATUS_ADDR
    hex "BMS Operation Status Address"
    default 0x0054
    help
      Set the Data Flash address to read the BMS sealed status and more.
config OTC_THRESHOLD_ADDR
    hex "BMS OTC Threshold Address"
    default 0x4888
    help
      Set the Data Flash address to read the BMS OverTemperature Charge threshold.
config RESET_CMD
    hex "BMS RESET command code"
    default 0x0041
    help
      Set the RESET command code for the BMS.
config SEAL_CMD
    hex "BMS SEAL command code"
    default 0x0030
    help
      Set the SEAL command code for the BMS.
config UNSEAL_CMD_1
    hex "BMS UNSEAL command code (first half)"
    default 0x3672
    help
      Set the first half of the UNSEAL command code for the BMS.
config UNSEAL_CMD_2
    hex "BMS UNSEAL command code (second half)"
    default 0x0414
    help
      Set the second half of the UNSEAL command code for the BMS.
config FULL_ACCESS_CMD_1
    hex "BMS FULL ACCESS command code (first half)"
    default 0xFFFF
    help
      Set the first half of the FULL ACCESS command code for the BMS.
config FULL_ACCESS_CMD_2
    hex "BMS FULL ACCESS command code (second half)"
    default 0xFFFF
    help
      Set the second half of the FULL ACCESS command code for the BMS.
endmenu


menu "[CUSTOM] Wi-Fi Configuration"
config WIFI_SSID
    string "Router SSID"
    default "SSID"
    help
      The SSID of the internet conenction router.
config WIFI_PASSWORD
    string "Router password"
    default "PASSWORD"
    help
      The password of the internet conenction router.
config WIFI_AUTO_CONNECT
    bool "Auto-connect"
    default n
    help
      Set to true to automatically connect to router with the set SSID.
endmenu

menu "[CUSTOM] LoRa Configuration"
config IS_RECEIVER
    bool "Receiver"
    default n
    help
      Set to true to configure the ESP32 as receiver rather than transmitter (default).
endmenu
