<!doctype html>
<head>
    <title>AceOn EV Battery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
          <h1 class="display-6 fw-bold text-primary">EV battery portal</h1>            
        </div>
        <div class="px-4 py-3 my-2 text-center">
          <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='plots/plot.png') }}" alt="plot"/>
        </div>
        <div>
          <p>Here is a plot</p>
          <p>Charge: {{charge}}%</p>
          <p>Voltage: {{voltage}}V</p>
          <p>Current: {{current}}A</p>
          <p>Temperature {{temperature}}degC</p>
        </div>
     </main>      
   </body>
</html>