<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title> AceOn portal </title>
    <link rel='stylesheet' type='text/css' href='/static/portal/style.css'>
</head>

<body>
    {% block content %}{% endblock %}

    <div class="overlay" id="overlay">Loading...</div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let monitoring_socket = new WebSocket("wss://" + window.location.host + "/monitor");
            monitoring_socket.onopen = function() {
                console.log('Monitoring WebSocket connection established');
            };
            monitoring_socket.onmessage = function(event) {
                let data = JSON.parse(event.data);
                document.getElementById('overlay').innerText = data.overlay;
            };
            monitoring_socket.onerror = function(error) {
                console.error('Monitoring WebSocket error:', error);
            };
            monitoring_socket.onclose = function() {
                console.log('Monitoring WebSocket connection closed');
            };
        })
    </script>
</body>
</html>
