<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Battery Control</title>
    <link rel='stylesheet' type='text/css' href='/static/portal/style.css'>
</head>

<body>
    <div class='container'>
        <h2> Change battery properties </h2>
        <div class='section'>
            <form action='/reset' method='post'>
                <button type='submit'>Reset BMS</button>
            </form>
        </div>

        <div class='section'>
            <form action='/validate_change' method='post'>
                <label>Update BL voltage threshold (currently <span id='BL'></span> [mV]): </label>
                <input type='text' placeholder='Enter value [mV]' name='BL_voltage_threshold'>

                <label>Update BH voltage threshold (currently <span id='BH'></span> [mV]): </label>
                <input type='text' placeholder='Enter value [mV]' name='BH_voltage_threshold'>

                <label>Update charge current threshold (currently <span id='CCT'></span> [mA]): </label>
                <input type='text' placeholder='Enter value [mA]' name='charge_current_threshold'>

                <label>Update discharge current threshold (currently <span id='DCT'></span> [mA]): </label>
                <input type='text' placeholder='Enter value [mA]' name='discharge_current_threshold'>

                <label>Update charge minimum temperature (currently <span id='CITL'></span> [0.1°C]): </label>
                <input type='text' placeholder='Enter value [0.1°C]' name='chg_inhibit_temp_low'>

                <label>Update charge maximum temperature (currently <span id='CITH'></span> [0.1°C]): </label>
                <input type='text' placeholder='Enter value [0.1°C]' name='chg_inhibit_temp_high'>

                <button type='submit'>Update</button>
            </form>
        </div>
    </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let socket = new WebSocket('ws://' + location.host + '/ws');
        socket.onopen = function() {
            console.log('WebSocket connection established');
        };
        socket.onmessage = function(event) {
            try {
                let data = JSON.parse(event.data);
                document.getElementById('BL').innerHTML = data.BL;
                document.getElementById('BH').innerHTML = data.BH;
                document.getElementById('CCT').innerHTML = data.CCT;
                document.getElementById('DCT').innerHTML = data.DCT;
                document.getElementById('CITL').innerHTML = data.CITL;
                document.getElementById('CITH').innerHTML = data.CITH;
            } catch (error) {
                console.error('Error parsing JSON:', error);
            }
        };
        socket.onerror = function(error) {
            console.error('WebSocket error:', error);
        };
        socket.onclose = function() {
            console.log('WebSocket connection closed');
        };
    })
</script>
</html>
