{% extends "portal/base.html" %}


{% block content %}
    <div class='container'>
        <h2> Change battery properties </h2>
        <div class='section'>
            <form action='{{ prefix }}/reset' method='post'>
                <button type='submit'>Reset BMS</button>
            </form>
        </div>

        <div class='section'>
            <form action='{{ prefix }}/validate_change' method='post'>
                <label>Update BL voltage threshold (currently <span id='BL'></span> [mV]): </label>
                <input type='text' placeholder='Enter value [mV]' name='BL_voltage_threshold'>

                <label>Update BH voltage threshold (currently <span id='BH'></span> [mV]): </label>
                <input type='text' placeholder='Enter value [mV]' name='BH_voltage_threshold'>

                <label>Update charge current threshold (currently <span id='CCT'></span> [mA]): </label>
                <input type='text' placeholder='Enter value [mA]' name='charge_current_threshold'>

                <label>Update discharge current threshold (currently <span id='DCT'></span> [mA]): </label>
                <input type='text' placeholder='Enter value [mA]' name='discharge_current_threshold'>

                <label>Update charge minimum temperature (currently <span id='CITL'></span> [0.1°C]): </label>
                <input type='text' placeholder='Enter value [0.1°C]' name='chg_inhibit_temp_low'>

                <label>Update charge maximum temperature (currently <span id='CITH'></span> [0.1°C]): </label>
                <input type='text' placeholder='Enter value [0.1°C]' name='chg_inhibit_temp_high'>

                <button type='submit'>Update</button>
            </form>
        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let protocol = (window.location.protocol === 'https:') ? 'wss://' : 'ws://';
            let socket = new WebSocket(protocol + location.host + '/ws');
            socket.onopen = function() {
                console.log('WebSocket connection established');
            };
            socket.onmessage = function(event) {
                try {
                    let data = JSON.parse(event.data);
                    if (window.location.protocol === 'https:') {
                        if ("{{ esp_id }}" != data["id"]){
                            return;
                        }
                    }

                    document.getElementById('BL').innerHTML = data.BL;
                    document.getElementById('BH').innerHTML = data.BH;
                    document.getElementById('CCT').innerHTML = data.CCT;
                    document.getElementById('DCT').innerHTML = data.DCT;
                    document.getElementById('CITL').innerHTML = data.CITL;
                    document.getElementById('CITH').innerHTML = data.CITH;
                } catch (error) {
                    console.error('Error parsing JSON:', error);
                }
            };
            socket.onerror = function(error) {
                console.error('WebSocket error:', error);
            };
            socket.onclose = function() {
                console.log('WebSocket connection closed');
            };
        })
    </script>
{% endblock %}
