{% extends "portal/base.html" %}


{% block content %}
    <div class='container'>
        <h2> Change battery properties </h2>
        <div class='section'>
            <button onclick="
                fetch('{{ prefix }}/reset?esp_id={{ esp_id }}', { method: 'POST' });
            ">
                Reset BMS
            </button>
        </div>

        <div class='section'>
            <form id='change-form'>
                <label>Update device name (currently <span id='name'>unknown</span>): </label>
                <input type='text' placeholder='Enter value' name='device_name' id='device-name'>

                <label>Update BL voltage threshold (currently <span id='BL'></span> [mV]): </label>
                <input type='text' placeholder='Enter value [mV]' name='BL_voltage_threshold' id='BL-voltage-threshold'>

                <label>Update BH voltage threshold (currently <span id='BH'></span> [mV]): </label>
                <input type='text' placeholder='Enter value [mV]' name='BH_voltage_threshold' id='BH-voltage-threshold'>

                <label>Update charge current threshold (currently <span id='CCT'></span> [mA]): </label>
                <input type='text' placeholder='Enter value [mA]' name='charge_current_threshold' id='charge-current-threshold'>

                <label>Update discharge current threshold (currently <span id='DCT'></span> [mA]): </label>
                <input type='text' placeholder='Enter value [mA]' name='discharge_current_threshold' id='discharge-current-threshold'>

                <label>Update charge minimum temperature (currently <span id='CITL'></span> [0.1°C]): </label>
                <input type='text' placeholder='Enter value [0.1°C]' name='chg_inhibit_temp_low' id='chg-inhibit-temp-low'>

                <label>Update charge maximum temperature (currently <span id='CITH'></span> [0.1°C]): </label>
                <input type='text' placeholder='Enter value [0.1°C]' name='chg_inhibit_temp_high' id='chg-inhibit-temp-high'>

                <button type='submit'>Update</button>
            </form>
        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let socket = new WebSocket('wss://' + location.host + '/browser_ws');
            socket.onopen = function() {
                console.log('WebSocket connection established');
            };
            socket.onmessage = function(event) {
                try {
                    let data = JSON.parse(event.data);
                    Object.keys(data).forEach(esp_id => {
                        if ("{{ esp_id }}" == esp_id) {
                            document.getElementById('name').innerHTML = data[esp_id].name;
                            document.getElementById('BL').innerHTML = data[esp_id].BL;
                            document.getElementById('BH').innerHTML = data[esp_id].BH;
                            document.getElementById('CCT').innerHTML = data[esp_id].CCT;
                            document.getElementById('DCT').innerHTML = data[esp_id].DCT;
                            document.getElementById('CITL').innerHTML = data[esp_id].CITL;
                            document.getElementById('CITH').innerHTML = data[esp_id].CITH;
                        }
                    });
                } catch (error) {
                    console.error('Error parsing JSON:', error);
                }
            };
            socket.onerror = function(error) {
                console.error('WebSocket error:', error);
            };
            socket.onclose = function() {
                console.log('WebSocket connection closed');
            };
        });

        document.getElementById("change-form").addEventListener("submit", function(event) {
            event.preventDefault(); // prevent normal form submission

            fetch('{{ prefix }}/validate_change?esp_id={{ esp_id }}', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: new URLSearchParams({
                    device_name: document.getElementById("device-name").value,
                    BL_voltage_threshold: document.getElementById("BL-voltage-threshold").value,
                    BH_voltage_threshold: document.getElementById("BH-voltage-threshold").value,
                    charge_current_threshold: document.getElementById("charge-current-threshold").value,
                    discharge_current_threshold: document.getElementById("discharge-current-threshold").value,
                    chg_inhibit_temp_low: document.getElementById("chg-inhibit-temp-low").value,
                    chg_inhibit_temp_high: document.getElementById("chg-inhibit-temp-high").value,
                }),
            });
        });
    </script>
{% endblock %}
