{% extends "portal/base.html" %}


{% block content %}
    <div class='container'>
        <div class='section'>
            <h2>WiFi router connection</h2>
            <form id='connect-form'>
                <label>SSID: </label>
                <input type='text' placeholder='Enter SSID' name='ssid' id='ssid' required>

                <label>Password: </label>
                <input type='password' placeholder='Enter Password' name='password' id='password' required>

                <button type='submit'>Connect</button>
            </form>
        </div>

        <div class='section'>
            <button onclick="location.href='eduroam?esp_id={{ esp_id }}'">Connect to eduroam</button>
        </div>

        <div>
            <a href='{{ prefix }}/display?esp_id={{ esp_id }}'>Home</a>
        </div>
    </div>

    <script>
        document.getElementById("connect-form").addEventListener("submit", function(event) {
            event.preventDefault(); // prevent normal form submission

            fetch('{{ prefix }}/validate_connect?esp_id={{ esp_id }}', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: new URLSearchParams({
                    ssid: document.getElementById("ssid").value,
                    password: document.getElementById("password").value,
                }),
            });
        });
    </script>
{% endblock %}
