{% extends "portal/base.html" %}


{% block content %}
        <div class='section'>
            <h2>Battery Information</h2>
            <div class='info'>
                <div class='info-item'>
                    <span>State of charge:</span>
                    <span><span id='charge'></span> %</span>
                </div>
                <div class='info-item'>
                    <span>Voltage:</span>
                    <span><span id='voltage'></span> V</span>
                </div>
                <div class='info-item'>
                    <span>Current:</span>
                    <span><span id='current'></span> A</span>
                </div>
                <div class='info-item'>
                    <span>Temperature:</span>
                    <span><span id='temperature'></span> °C</span>
                </div>
            </div>
        </div>

        <div class='section'>
            <h2>ESP32 LED Control</h2>
            <div class='button-container'>
                <button onclick="
                    fetch('{{ prefix }}/toggle?esp_id={{ esp_id }}', { method: 'POST' });
                ">
                    Toggle LED
                </button>
            </div>
        </div>

        <div class='section'>
            <div>
                <a href='{{ prefix }}/change?esp_id={{ esp_id }}'>Change battery pack properties</a>
                <a href='{{ prefix }}/connect?esp_id={{ esp_id }}'>Connect to WiFi access point</a>
                <a href='{{ prefix }}/nearby?esp_id={{ esp_id }}'>Nearby battery packs</a>
                <a href='{{ prefix }}/about'>About AceOn</a>
                <a href='{{ prefix }}/device'>Unit Layout</a>
            </div>
        </div>

        <img src='/static/portal/images/aceon2.png' alt='Company Logo'>
    </div> <!-- ends <div class='container'> -->
{% endblock %}
