{% extends "portal/base.html" %}


{% block content %}
        <div class='section'>
            <h1>Battery Information</h1>
            <div class='info'>
                <div class='info-item'>
                    <span>State of charge:</span>
                    <span><span id='charge'></span> %</span>
                </div>
                <div class='info-item'>
                    <span>Voltage:</span>
                    <span><span id='voltage'></span> V</span>
                </div>
                <div class='info-item'>
                    <span>Current:</span>
                    <span><span id='current'></span> A</span>
                </div>
                <div class='info-item'>
                    <span>Temperature:</span>
                    <span><span id='temperature'></span> °C</span>
                </div>
            </div>
        </div>

        <div>
            <a href='{{ prefix }}/display?esp_id={{ esp_id }}'>Home</a>
        </div>

        <img src='/static/portal/images/aceon2.png' alt='Company Logo'>
    </div> <!-- ends <div class='container'> -->
{% endblock %}
