{% extends "portal/base.html" %}


{% block content %}
    <div class='container'>
        <div class='section'>
            <h1>Battery Information</h1>
            <div class='info'>
                <div class='info-item'>
                    <span>State of charge:</span>
                    <span><span id='charge'></span> %</span>
                </div>
                <div class='info-item'>
                    <span>Voltage:</span>
                    <span><span id='voltage'></span> V</span>
                </div>
                <div class='info-item'>
                    <span>Current:</span>
                    <span><span id='current'></span> A</span>
                </div>
                <div class='info-item'>
                    <span>Temperature:</span>
                    <span><span id='temperature'></span> °C</span>
                </div>
            </div>
        </div>

        <img src='/static/portal/images/aceon2.png' alt='Company Logo'>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let socket = new WebSocket('wss://' + location.host + '/ws');
            socket.onopen = function() {
                console.log('WebSocket connection established');
            };
            socket.onmessage = function(event) {
                try {
                    let data = JSON.parse(event.data);
                    if ("{{ esp_id }}" != data["esp_id"]) {
                        return;
                    }

                    document.getElementById('charge').innerHTML = data.received_data.charge;
                    document.getElementById('voltage').innerHTML = data.received_data.voltage.toFixed(2);
                    document.getElementById('current').innerHTML = data.received_data.current.toFixed(2);
                    document.getElementById('temperature').innerHTML = data.received_data.temperature.toFixed(2);
                } catch (error) {
                    console.error('Error parsing JSON:', error);
                }
            };
            socket.onerror = function(error) {
                console.error('WebSocket error:', error);
            };
            socket.onclose = function() {
                console.log('WebSocket connection closed');
            };
        })
    </script>
{% endblock %}
